<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../templates/head", {title: "IRyS"}); %>
    </head>
    <body>
        <%- include("../templates/navbar", {title: "IRyS", button: {text: "Home", url: "/"}}); %>

    </body>
</html>