/* Register font family notosans */
@font-face {
    font-family: NotoSansReg;
    src: url('/static/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSansBold;
    src: url('/static/fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

/* Start content */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.titleLink {
    color: #fff;
}

.notoReg {
    font-family: NotoSansReg, sans-serif;
}

.notoBold {
    font-family: NotoSansBold, sans-serif;
}

.contentBtn {
    margin-left: 5px;
    margin-right: 5px;
}