<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../templates/head', {title: "IRyS"}); %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">IRyS</a>
          <form class="d-flex">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Settings
            </button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
